* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.title {
    font-family: "Inter";
    font-size: 20px;
    font-weight: bold;
}

.container {
    background-color: #1B6073;
    border-radius: 5px;
    padding: 20px 40px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}

.card > img {
    width: 100%;
}

.card .productName {
    font-size: 14px;
    font-weight: bold;
}

.card .productPrice {
    color: #2C6B9E;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.button {
    background-color: #DB8F51;
    border-radius: 5px;
    color: #000;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}